@font-face {	
    font-family: 'circular-std-book';	
    src: url('../font/CircularStd-Book.woff') format('woff');	
    font-weight: normal;	
    font-style: normal;	
}	
  
.nominations {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nomination-item {
    font-family: circular-std-book, Arial, sans-serif;
    font-size: 12pt;
    color: #43474B;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.award-icon {
    position: relative;
    top: 2px; 
    margin-right: 5px;
    color: #43474B;
}

.remove-btn {
    border: 1px solid #377E62;
    border-radius: 2px;
    height: 35px;
    width: 100px;
    background-color: #377E62;
    transition: all 0.25s ease-in;
    font-family: circular-std-book, Arial, sans-serif;
    font-size: 12pt;
    color: white;
    margin-left: 10px;
}

.remove-btn:hover {
    background-color: #1E4B3F;
    border: 1px solid #1E4B3F;
    color: white !important; 
}